* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  background: #131313;
  height: 80px;
  width: 100%;
  font-size: 1.2rem;
}
.navbar__container {
  display: flex;
  width: 100%;
}
.navbar__logo {
  display: flex;
  margin: 20px;
  font-size: 2.5rem;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.navbar__logo a {
  text-decoration: none;
  color: #ff8177;
}
.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-left: 50%;
  padding: 5px;
}
.navbar__menu .list__items a {
  text-decoration: none;
  color: #fff;
}
.list__button a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
}
.navbar a:hover {
  color: #9518fc;
}

/* Head Container */
.head__container {
  background: #000000;
  padding: 300px;
  height: 850px;
  display: block;
}
.head__container h1 {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 100px;
  color: #fff;
}
.head__container .descripton {
  font-size: 60px;
  color: #fff;
  text-align: center;
  padding: 15px;
  /* color: #da22ff; */
}
.head__container .descripton {
  color: #da22ff;
}
.head__container .main__button {
  align-items: flex-end;
  width: 120px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  margin-left: 550px;
  background-color: darkblue;
  color: #fff;
  border-radius: 20px;
}
.head__container .main__button:hover {
  background-color: red;
  color: #fff;
  padding: 16px;
}
.head__container .descripton clr {
  color: brown;
}
/* About Us */
.about__us {
  background-color: #131313;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
}
.image__section {
  color: #131313;
}
.about__us .image__section img {
  height: 600px;
  width: 800px;
  padding: 120px;
  margin-left: 100px;
  border-radius: 20px;
}
.first__line {
  padding: 40px;
  text-transform: uppercase;
  font-size: 2rem;
}
.second__line {
  padding: 40px;
  text-transform: capitalize;
  font-size: 6rem;
}
.third__section {
  padding: 40px;
}

/* Service Section */
.service__section {
  background-color: #131313;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.car__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card__area {
  background-color: #da22ff;
  padding: 100px;
  height: 40vh;
}
.card__area1 {
  background-color: blue;
  padding: 100px;
  height: 40vh;
}
.card__area2 {
  background-color: #ff8177;
  padding: 100px;
  height: 40vh;
}
.card__area3 {
  background-color: brown;
  padding: 100px;
  height: 40vh;
}
#buttonCard {
  margin-top: 20px;
  width: 200px;
  height: 30px;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  border: solid;
}
#buttonCard:hover {
  background-color: red;
}
/* sign up Section */

.signup__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70vh;
}
.signup__text__section {
  background-color: #000000;
}
.signup__image__section {
  background-color: #000000;
}

/* Sign Up Section */
.signup__text__head {
  text-align: center;
  justify-content: center;
  margin-top: 230px;
  color: #fff;
}
.image__signup {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 190px;
  color: #fff;
}
.signup__text__head #join-text {
  color: #fff;
  font-size: 2.5rem;
  padding: 5px;
}
.signup__text__head #sign-text {
  color: #fff;
  font-size: 4rem;
  padding: 5px;
}
#signup {
  width: 400px;
  height: 50px;
  margin-top: 50px;
  background-color: red;
  color: wheat;
  font-size: 2rem;
  border: black solid;
  border-radius: 20px;
  cursor: pointer;
}
#signup:hover {
  width: 500px;
  height: 60px;
  margin-top: 50px;
  background-color: red;
  color: wheat;
  font-size: 2.3rem;
  border: black solid;
  border-radius: 20px;
  cursor: pointer;
}
.footer__section {
  background-color: #131313;
  padding: 30px;
}
.footer__head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 30px;
  list-style-type: none;
}
.footer__head li {
  list-style-type: none;
  text-decoration: none;
}
.footer__head li a {
  text-decoration: none;
}
.aboutus h1 {
  color: #fff;
}
.aboutus a {
  color: #fff;
}
.aboutus a:hover {
  color: #9518fc;
}
